@charset "UTF-8";
/**
 * SETTINGS
 * Config...............Project-level config.
 * Global...............Project-specific, globally available settings.
 * Colors...............Project-specific
 *
 * TOOLS
 * Mixins...............Global mixins.
 *
 * GENERIC
 * Reset................Css resets.
 * Box-sizing...........box-model reset.
 *
 * ELEMENTS
 * Headings.............H1–H6
 * Links................Element-level link styling.
 *
 * OBJECTS
 * Layout...............Layout abstraction tool.
 *
 * COMPONENTS
 * Forms................Component-level form styling.
 * Buttons..............Element-agnostic button styles.
 * Menu.................Menu styles.
 *
 * TRUMPS
 * Typography...........Utilities for manipulating text.
 * Utilities..............Helper classes for showing or hiding content.
 *
 */
/**
 * ReSass.
 *
 * MIXIN: Responsive Media Queries.
 *
 * Creates responsive media queries for seven different screen sizes.
 * These are based on min-width which means if x is the size then your
 * CSS will affect any device with screen width x and above.
 *
 * USAGE:
 *	@include r(240)  { }
 *	@include r(320)  { }
 *	@include r(480)  { }
 *	@include r(768)  { }
 *	@include r(1024) { }
 *	@include r(1140) { }
 *	@include r(1280) { }
 *  @include r(1500) { }
 *
 * CSS content goes inside {} brackets. These mixins should be used inside
 * a class definition. For example:
 *
 * The following CSS will hide the .header on screen width 320px and above.
 * .header {
   * 	  @include r(320)  { display: none; }
   * }
   *
   * @author  Ahmad Awais (https://github.com/ahmadawais)
   * @link    https://github.com/ahmadawais/ReSass.git
   * @version 1.0.0
   */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
@media (min-width: 320px) {
  .header.false {
    display: inherit;
  }
}
@media (min-width: 1024px) {
  .header.false {
    display: none;
  }
}

@font-face {
  font-family: "Recoleta-Medium";
  src: url("https://res.cloudinary.com/duwf1nmnp/raw/upload/v1646657637/Squad%20client%20/font_tkrg6o.woff") format("woff"), url("https://res.cloudinary.com/duwf1nmnp/raw/upload/v1646657637/Squad%20client%20/font_tucksx.woff2") format("woff2");
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  margin: 0;
}

strong {
  font-weight: bold;
}

.app {
  height: 100%;
}

h5 {
  font-family: "Recoleta-Medium";
  font-size: 24px;
  line-height: 33.6px;
  color: #183033;
}
@media (min-width: 1024px) {
  h5 {
    font-size: 36px;
    line-height: 46.8px;
  }
}

main {
  display: flex;
  justify-content: center;
}

.header {
  height: 512px;
  position: relative;
  color: #5D6E70;
  background-image: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646650985/Squad%20client%20/plan-illustration-mobile_orjbjt.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  color: #fff;
  font-size: 27px;
  text-align: center;
  width: 100%;
}

.header-content .description {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #183033;
  margin-bottom: 60px;
  padding: 25px;
}

.header-content .name {
  font-size: 16px;
  line-height: 21px;
  margin: 7px 0 0 0;
  color: #5D6E70;
  position: relative;
}
.header-content .name::after {
  content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647261070/Squad%20client%20/beta-badge-mobile_wsyvdu.svg);
  position: absolute;
  top: 24px;
  right: -38px;
}

.header-content .lifeplan-block {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  color: #183033;
  font-size: 14px;
  padding: 0 10px;
  margin-top: 7px;
}

.header-content .lifeplan-block p {
  font-family: "Recoleta-Medium", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 5px 0;
}

.header-content .date {
  font-size: 12px;
  line-height: 18px;
  color: #5D6E70;
  text-align: center;
  margin: 5px 0 0 0;
}

.header .description-wrapper {
  width: 262px;
  align-self: center;
  margin-top: 17px;
}

.header .description {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  color: #183033;
  margin: 0;
  font-family: "Recoleta-Medium", sans-serif;
}

.dashed {
  border-style: dashed;
}

hr {
  width: 174px;
  border: 2px solid #183033;
  margin: 8px;
  opacity: 0.2;
}

.motto-wrapper {
  background-color: #215A6B;
  padding: 10px;
}
.motto-wrapper .motto {
  border-radius: 4px;
  background-color: #173F4B;
  padding: 38px 20px 56px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
}
.motto-wrapper .motto hr {
  width: 216px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  margin: 12px 0 20px 0;
  opacity: 1;
}
.motto-wrapper .motto--title {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.motto-wrapper .motto--body {
  font-size: 24px;
  line-height: 33.6px;
  color: #FFF7CE;
  text-align: center;
  font-family: "Recoleta-Medium", sans-serif;
}

.timeline-timeline-container {
  display: none;
}

.timeline-container-wrapper {
  width: 100%;
}

.timeline-desktop {
  display: none;
}

.timeline-mobile {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #215A6B;
  padding: 80px 0 100px 0;
}

.goal-date {
  display: flex;
  justify-content: center;
  position: relative;
}
.goal-date--first {
  height: 110px;
}
.goal-date:not(:first-child) {
  margin-top: 6px;
}
.goal-date:nth-last-child(2) .goal-date__line {
  border-right: 2px dotted white;
  background-color: transparent;
  border-radius: 0;
  width: 0;
}
.goal-date:last-child .goal-date__time {
  margin: 0;
}
.goal-date:last-child .goal-date__time p {
  position: relative;
  top: 78px;
  right: 25px;
}
.goal-date:last-child .goal-date__line {
  margin-left: -8px;
  border-right: 2px dotted white;
  background-color: transparent;
  border-radius: 0;
  width: 0;
  top: -12px;
}
.goal-date:last-child .goal-date__line::before {
  content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646752268/Squad%20client%20/Vector_25_vwaf8t.svg);
  top: 88px;
  left: -9px;
}
.goal-date:last-child .goal-date__line::after {
  top: -12px;
}
.goal-date:last-child .goal-date__goals {
  margin-bottom: -85px;
}
.goal-date:last-child .goal-date__goals .goal-date__goals__goal:first-child::before {
  top: 18px;
}
.goal-date:last-child .goal-date__goals .goal-date__goals__goal:last-child {
  margin-top: 26px;
}
.goal-date:last-child .goal-date__goals .goal-date__goals__goal:last-child::after {
  content: "";
  background-color: #3C7F90;
  position: absolute;
  left: -31px;
  top: 51px;
  width: 16px;
  height: 2px;
  border-radius: 1px;
}
.goal-date:last-child .goal-date__goals .goal-date__goals__goal:last-child::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #173F4B;
  position: absolute;
  transform: rotate(45deg);
  z-index: -1;
  left: -3px;
}
.goal-date__time {
  margin: -17px 10px 0 0;
}
.goal-date__time p {
  font-size: 13px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  margin: 0;
}
.goal-date__line {
  width: 2px;
  border-radius: 2px;
  background-color: white;
  margin: 8px 40px 0 10px;
  position: relative;
}
.goal-date__line::before {
  content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646738502/Squad%20client%20/Oval_Copy_fyx8br.svg);
  position: absolute;
  top: -11px;
  left: -3px;
}
.goal-date__line::after {
  content: "";
  background-color: #3C7F90;
  position: absolute;
  left: 16px;
  top: -7px;
  width: 16px;
  height: 2px;
  border-radius: 1px;
}
.goal-date__line--first {
  margin-top: 10px;
}
.goal-date__line--first::before {
  content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646738436/Squad%20client%20/Step_bubble_wprco5.svg);
  position: absolute;
  top: -21px;
  left: -7px;
}
.goal-date__line--first::after {
  content: "";
  background-color: #3C7F90;
  position: absolute;
  left: 18px;
  top: -12px;
  width: 21px;
  height: 2px;
  border-radius: 1px;
}
.goal-date__goals {
  width: 130px;
  margin-bottom: 20px;
}
.goal-date__goals--first {
  margin-right: 72px;
  top: -55px;
  left: 5px;
  position: relative;
}
.goal-date__goals--with-img {
  width: 190px;
  position: relative;
  top: -43px;
  left: 5px;
}
.goal-date__goals__goal {
  display: flex;
  justify-content: flex-start;
  background-color: #173F4B;
  border-radius: 5px;
  padding: 10px 12px;
  min-width: 106px;
  max-width: 165px;
  min-height: 60px;
  align-items: center;
  margin-bottom: 3px;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
.goal-date__goals__goal:first-child::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #173F4B;
  position: absolute;
  transform: rotate(45deg);
  z-index: -1;
  left: -3px;
}
.goal-date__goals__goal--light {
  background-color: #3C7F90;
}
.goal-date__goals__goal--light:first-child::before {
  background-color: #3C7F90;
  top: 27px;
}
.goal-date__goals__goal--light:nth-child(2):before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #3C7F90;
  position: absolute;
  transform: rotate(45deg);
  z-index: -1;
  left: -3px;
  top: 8px;
}
.goal-date__goals__goal--static-goal {
  width: 106px;
  min-height: 33px;
  text-align: center;
  filter: none;
}
.goal-date__goals__goal--static-goal div {
  margin: 0;
}
.goal-date__goals__goal__img {
  background-color: white;
  border-radius: 4px;
}
.goal-date__goals__goal__img img {
  width: 70px;
}
.goal-date__goals__goal__desc {
  margin-left: 8px;
}
.goal-date__goals__goal__desc p {
  color: white;
  font-size: 13px;
  line-height: 17px;
  margin: 0;
}

@media (min-width: 768px) {
  .header {
    background-image: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646658566/Squad%20client%20/plan-illustration-desktop_1_w6rlcq.jpg);
    height: 666px;
  }
}
@media (min-width: 950px) {
  .timeline-spacer {
    height: 85px;
    background-color: #215A6B;
  }

  .timeline-container-wrapper {
    width: 1000px;
  }
  .timeline-container-wrapper .header-content {
    padding-top: 45px;
  }
  .timeline-container-wrapper .timeline-mobile {
    display: none;
  }
  .timeline-container-wrapper .timeline-desktop {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #215A6B;
    padding: 0 70px;
    height: 838px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  .timeline-container-wrapper .timeline-desktop .solid-line {
    height: 2px;
    top: 390px;
    position: absolute;
    background-color: #fff;
    left: 122px;
    z-index: 1;
  }
  .timeline-container-wrapper .timeline-desktop .solid-line.one-goal {
    width: 375px;
  }
  .timeline-container-wrapper .timeline-desktop .solid-line.one-goal::after {
    content: "";
    border-top: 2px dotted white;
    background-color: #215A6B;
    width: 393px;
    position: absolute;
    top: 0;
    left: 381px;
    z-index: 3;
  }
  .timeline-container-wrapper .timeline-desktop .solid-line.second-goal {
    width: 500px;
  }
  .timeline-container-wrapper .timeline-desktop .solid-line.second-goal::after {
    content: "";
    border-top: 2px dotted white;
    background-color: #215A6B;
    width: 263px;
    position: absolute;
    top: 0;
    left: 511px;
    z-index: 3;
  }
  .timeline-container-wrapper .timeline-desktop .solid-line.third-goal {
    width: 555px;
  }
  .timeline-container-wrapper .timeline-desktop .solid-line.third-goal::after {
    content: "";
    border-top: 2px dotted white;
    background-color: #215A6B;
    width: 203px;
    position: absolute;
    top: 0;
    left: 573px;
    z-index: 3;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column {
    height: 670px;
    width: 130px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:not(:last-child) {
    align-items: center;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:nth-child(2) {
    height: 125px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 215px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:nth-child(2)::before {
    content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646738436/Squad%20client%20/Step_bubble_wprco5.svg);
    border: 3px solid #215A6B;
    background: #215A6B;
    position: absolute;
    bottom: -63px;
    left: 49px;
    z-index: 1;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:nth-child(2)::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 60px;
    bottom: -35px;
    width: 2px;
    height: 21px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:nth-child(4) .goal-date__time::after {
    display: none;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:last-child {
    height: 377px;
    margin-top: 139px;
    flex-direction: row;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:last-child .goal-date__time {
    position: absolute;
    top: 108px;
    right: 0;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:last-child .goal-date__time::before {
    content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646752268/Squad%20client%20/Vector_25_vwaf8t.svg);
    transform: rotate(270deg);
    top: -23px;
    left: 17px;
    border: 0;
    background: transparent;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:last-child .goal-date__goals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:last-child .goal-date__goals .goal-date__goals__goal:first-child {
    position: relative;
    right: 40px;
    min-height: 33px;
    margin: 0;
    padding: 8px;
    top: -5px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:last-child .goal-date__goals .goal-date__goals__goal:first-child::before {
    background-color: #3C7F90;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:last-child .goal-date__goals .goal-date__goals__goal:first-child::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 51%;
    top: 67px;
    width: 2px;
    height: 16px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column:last-child .goal-date__goals .goal-date__goals__goal:nth-child(2)::before {
    top: -4px;
    left: 91px;
    bottom: auto;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__time {
    margin: 0;
    position: absolute;
    top: 325px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__time::before {
    content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646738502/Squad%20client%20/Oval_Copy_fyx8br.svg);
    position: absolute;
    border: 3px solid #215A6B;
    background: #215A6B;
    top: -25px;
    left: 43%;
    z-index: 2;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__time::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 51%;
    top: 21px;
    width: 2px;
    height: 16px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals__goal--light::before {
    top: 37px;
    left: 51px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals {
    margin-bottom: 0;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals .goal-date__goals__goal {
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 130px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals .goal-date__goals__goal::before {
    content: "";
    bottom: -5px;
    left: 43.5%;
    width: 20px;
    height: 20px;
    background-color: #173F4B;
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals .goal-date__goals__goal .goal-date__goals__goal__desc {
    margin: 10px 0;
    text-align: center;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals .goal-date__goals__goal .goal-date__goals__goal__img {
    height: 76px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals .one-goal-bottom {
    margin-top: 375px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals .one-goal-bottom::before {
    top: auto;
    bottom: 134px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals .one-goal-top {
    margin-top: 115px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals .one-goal-top::before {
    top: 134px;
    bottom: 134px;
    left: 58px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals .one-goal-top::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 67px;
    top: 164px;
    width: 2px;
    height: 16px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.two-goals {
    height: 426px;
    margin-top: 115px;
    flex-direction: column;
    justify-content: space-between;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.two-goals#secondGoal .goal-date__goals__goal:nth-child(2)::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 50.5%;
    top: -30px;
    width: 2px;
    height: 16px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.two-goals .goal-date__goals__goal:nth-child(1)::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 50.5%;
    top: 164px;
    width: 2px;
    height: 16px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.two-goals .goal-date__goals__goal:nth-child(2)::before {
    top: -5px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.three-goals {
    margin-top: -53px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.three-goals#secondGoal .goal-date__goals__goal:nth-child(3)::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 50.5%;
    top: -30px;
    width: 2px;
    height: 16px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.three-goals .goal-date__goals__goal:nth-child(2)::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 50.5%;
    top: 166px;
    width: 2px;
    height: 16px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.three-goals .goal-date__goals__goal:nth-child(3) {
    margin-top: 96px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.three-goals .goal-date__goals__goal:nth-child(3)::before {
    bottom: 134px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.four-goals {
    height: 720px;
    margin-top: -52px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.four-goals#secondGoal .goal-date__goals__goal:nth-child(3)::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 50.5%;
    top: -30px;
    width: 2px;
    height: 16px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.four-goals .goal-date__goals__goal:nth-child(2) {
    margin-bottom: 112px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.four-goals .goal-date__goals__goal:nth-child(2)::after {
    content: "";
    background-color: #3C7F90;
    position: absolute;
    left: 51%;
    top: 166px;
    width: 2px;
    height: 16px;
    border-radius: 1px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.four-goals .goal-date__goals__goal:nth-child(3)::before {
    bottom: 134px;
  }
  .timeline-container-wrapper .timeline-desktop .goal-column .goal-date__goals.four-goals .goal-date__goals__goal:last-child::before {
    bottom: 134px;
    margin-bottom: 0;
  }
  .timeline-container-wrapper .header-content .name {
    font-size: 20px;
    line-height: 30px;
  }
  .timeline-container-wrapper .header-content .name::after {
    top: 32px;
    right: -52px;
  }
  .timeline-container-wrapper .header-content .lifeplan-block p {
    font-size: 36px;
    line-height: 43px;
  }
  .timeline-container-wrapper .header .description-wrapper {
    width: 400px;
  }
  .timeline-container-wrapper .header .description {
    margin-top: 28px;
    font-size: 28px;
    line-height: 38px;
  }
  .timeline-container-wrapper .motto-wrapper {
    padding: 10px 60px 60px 60px;
  }
  .timeline-container-wrapper .motto-wrapper .motto {
    padding: 56px 220px 56px 220px;
  }
  .timeline-container-wrapper .motto-wrapper .motto hr {
    width: 216px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    margin: 12px 0 20px 0;
    opacity: 1;
  }
  .timeline-container-wrapper .motto-wrapper .motto--title {
    font-size: 16px;
  }
  .timeline-container-wrapper .motto-wrapper .motto--body {
    font-size: 28px;
    line-height: 39px;
  }
}
.plan-loader {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.plan-loader.fadeout {
  opacity: 0;
  -webkit-animation: fadeout 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 4s;
  /* Firefox < 16 */
  -ms-animation: fadeout 4s;
  /* Internet Explorer */
  -o-animation: fadeout 4s;
  /* Opera < 12.1 */
  animation: fadeout 4s;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.plan-loader .plan-loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
}
.plan-loader .plan-loader-content .plan-loading {
  font-size: 30px;
  font-family: "Recoleta-Medium", sans-serif;
  color: #183033;
  margin: 0 auto;
  width: 273px;
}
.plan-loader .plan-loader-content .plan-loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1400ms infinite;
  animation: ellipsis steps(4, end) 1400ms infinite;
  content: "…";
  /* ascii code for the ellipsis character */
  width: 0px;
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
.plan-loader .plan-loader-content img {
  max-width: 100%;
  margin: 40px 0 60px 0;
}
.plan-loader .plan-loader-content .motivation {
  font-family: "IBM Plex Sans", sans-serif;
  color: #183033;
  text-align: center;
  margin: 0;
}
.plan-loader .plan-loader-content .motivation::before {
  content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647263492/Squad%20client%20/quote_kdbafo.svg);
  margin-right: 10px;
}
.plan-loader .plan-loader-content .author {
  font-family: "IBM Plex Sans", sans-serif;
  color: #789296;
  font-size: 13px;
  margin: 15px 0 0 0;
}

@media (min-width: 768px) {
  .plan-loader .plan-loader-content {
    width: 530px;
  }
  .plan-loader .plan-loader-content .plan-loading {
    font-size: 36px;
    line-height: 43px;
    width: 330px;
  }
  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
  .plan-loader .plan-loader-content img {
    max-width: 100%;
    margin: 40px 0 60px 0;
  }
  .plan-loader .plan-loader-content .motivation {
    font-size: 22px;
    line-height: 35px;
  }
  .plan-loader .plan-loader-content .author {
    font-size: 13px;
    line-height: 19.5px;
  }
}

/*# sourceMappingURL=main.css.map */
