
%flex {
  display: flex;
  flex-direction: column;
}

%budget-inner {
  display: flex;
  flex-direction: column;
  height: 180px;
  position: relative;
}

%expense {
  display: flex;
  min-height: 22% !important;
  &:not(:last-child) {
    margin-bottom: -2px
  }
}

%expense--type {
  display: flex;
  align-items: center;
  width: 90px;

  @include r(768) {
    width: 170px;
  }
}

%expense--type--label { 
  @include plex-sans-bold;
  @include font-size(12px, 14.4px);
  color: $black-02;
}

%budget-col {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &.living-exp {
    background-color: $bright-teal;
  } 
  &.debt {
    background-color: $yellow;
  }
  &.saving {
    background-color: $cyan;
  }
  &.remaining {
    background-color: $blue;
  }

  @include r(768) {
    width: 84px;
  }

}

%name {
  @include font-size(14px, 16.8px);
  @include plex-sans-semi-bold;
  text-align: center;
  align-self: flex-end;
  width: 60px;
  margin-bottom: 15px;

  @include r(768) {
    @include font-size(16px, 19.2px); 
    width: 84px;
    margin-bottom: 25px;
  }
}

%budget-col--label {
  text-align: center;
  @include plex-sans-semi-bold;
  @include font-size(14px, 16.8px);
  color: $white;
}

%ref-line {
  content: "";
  width: 9px;
  height: 1px;
  background: $grey;
  position: absolute;
  top: 50%;
}

.budget-wrapper {
  background-color: $light-grey;
  padding: 40px 0;
  border-radius: 4px;
  margin: 36px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $blue-black;

  @include r(768) {
    padding: 48px 72px;
    margin: 0 35px;
  }

  .budget-col-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 296px;
    position: relative;
    margin-top: 30px;

    @include r(768) {
      width: 712px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $blue-01;
    }

    .current-budget {
      @extend %flex;
      margin-right: 7px;     
      @include r(768) {
        margin-right: 16px;
      }

      &--name {
        @extend %name;
      }

      .budget-inner {
        @extend %budget-inner;
        .expense {    
          @extend %expense;
          &--type {
            justify-content: flex-end;
            @extend %expense--type;
            
            p {
              @extend %expense--type--label;
              text-align: right;
              margin-right: 18px;
            }
          }

          &-negative {
            position: absolute;

            .budget-col { 
              border-radius: 0 0 4px 4px;
            }
          }

          .budget-col {
            @extend %budget-col;
            &--label {
              @extend %budget-col--label;
            }

            &::before {
              @extend %ref-line;
              left: -13px;
            }
          }
        }
      }
    }

    .proposed-budget {
      @extend %flex;     
      margin-left: 7px;
      
      @include r(768) {
        margin-left: 16px;
      }

      &--name {
        @extend %name;
        align-self: flex-start;
      }

      .budget-inner {
        @extend %budget-inner;
        .expense {
          @extend %expense;
          flex-direction: row-reverse;

          &--type {
            @extend %expense--type;

            p {
              @extend %expense--type--label;
              margin-left: 18px;
            }
          }

          &-negative {
            position: absolute;

            .budget-col { 
              border-radius: 0 0 4px 4px;
            }
          }

          .budget-col {
            @extend %budget-col;
            &--label {
              @extend %budget-col--label;
            }

            &::before {
              @extend %ref-line;
              right: -13px;
            }
          }
        }
      }
    }

  }
}