%num-circle {
  width: 32px;
  height: 32px;
  background-color: $yellow-02;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black-02;
  margin-right: 16px;

  @include plex-sans-semi-bold;

  @include r(768) {
    width: 40px;
    height: 40px;
  }
}

%common-border {
  border-radius: 4px;
  border: 2px solid $light-grey-02;
}

%main-copy {
  color: $black-02;
  @include plex-sans-semi-bold;
  @include font-size(18px, 21.6px);
  @include r(768) {
    @include font-size(20px, 24px);
  }
}

%sub-copy {
  color: $black-02;
  @include plex-sans;
  @include font-size(14px, 21px);
  @include r(768) {
    @include plex-sans-semi-bold;
  }
}

%date-copy {
  color: $dark-grey;
  margin-left: 8px;
  @include plex-sans;
  @include font-size(14px, 21px);
}

%arrow-icon {
  content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647369370/Squad%20client%20/Group_440_fpmzd8.svg);
  position: absolute;
}

.goals-section {
  margin-top: 58px;
  
  @include r(768) {
    margin-top: 120px;
  }


  &-heading {
    width: 138px;
    border-bottom: 4px solid $yellow;
    margin: 0 auto;

    @include r(768) {
      margin-bottom: 290px;
    }

    p {
      color: $black-02;
      text-align: center;
      margin-bottom: 14px;
      @include plex-sans-bold;
      @include font-size(14px, 16.8px);
      @include r(768) {
        @include font-size(16px, 19.2px);
        margin-bottom: 12px;
      }
    }
  }

  &-goal {
    background-color: $light-grey;
    padding: 40px 16px;
    border-radius: 4px;
    margin: 172px 10px 236px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $blue-black;

    @include r(768) {
      padding: 48px 72px;
      margin: 0 35px 376px 35px;
    }

    h5 {
      margin-bottom: 40px;
      @include r(768) {
        margin-bottom: 56px;
      }
    }

    &.property {
      position: relative;
      &::before {
        content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647371509/Squad%20client%20/Buy_a_house_2_cdlfrn.svg);
        position: absolute;
        top: -153px;

        @include r(768) {
          top: -224px;
          content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647368299/Squad%20client%20/Buy_a_house_1_d5nxdl.svg);
        }

      }
    }
    &.travel {
      position: relative;
      &::before {
        content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647371509/Squad%20client%20/Holiday_3_qiakez.svg);
        position: absolute;
        top: -163px;

        @include r(768) {
          top: -235px;
          content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647368299/Squad%20client%20/Holiday_2_fxac98.svg);
        }

      }
    }
    &.family {
      position: relative;
      &::before {
        content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647371509/Squad%20client%20/Start_a_family_2_nvtjqb.svg);
        position: absolute;
        top: -153px;

        @include r(768) {
          top: -224px;
          content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647368298/Squad%20client%20/Start_a_family_1_cn70gu.svg);
        }

      }
    }
    &.debt {
      position: relative;
      &::before {
        content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647371509/Squad%20client%20/Pay_off_debt_2_e4lhqu.svg);
        position: absolute;
        top: -153px;

        @include r(768) {
          top: -224px;
          content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647368299/Squad%20client%20/Pay_off_debt_1_tol8r7.svg);
        }

      }
    }
    
    &-wrapper {
      display: flex;
      flex-direction: column;

      @include r(768) {
        padding: 24px;
        background: $white;
        justify-content: space-between;
        flex-flow: wrap;
        border-radius: 4px;
      }

      &-top-row {
        display: flex;
        background-color: $white;
        padding: 22px 16px;

        &:not(:last-child) {
          margin-bottom: 24px;
        }

        @extend %common-border;

        .num-circle {
          @extend %num-circle;
        }

        .goal-content {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 80%;
          .goal-date-wrapper {
              display: flex;
              &-copy {
                @extend %date-copy;
              }
              @include r(768) {
                background-color: $white;
                position: absolute;
                top: -34px;
                padding: 0 10px;
                left: -43px;
              }
          }
  
          .main-copy {
            @extend %main-copy;
          }
          .sub-copy {
            @extend %sub-copy;
          }
        }

        &.goal-start {
          position: relative;
          .num-circle {
            margin-top: 25px;
            @include r(768) {
              margin-top: 0;
            }
          }
          &::after {
            @extend %arrow-icon;
            right: 18px;
            transform: rotate(80deg);
            bottom: -20px;

            @include r(768) {
              right: -32px;
              transform: rotate(0deg);
              bottom: 35px;
              z-index: 2;
            }
          }

          @include r(768) {
            flex-grow: .43;
          }
        }

        &.goal-desc {
          position: relative;
          .num-circle {
            margin-top: 5px;
          }
          &::after {
            @extend %arrow-icon;
            right: 18px;
            transform: rotate(80deg);
            bottom: -20px;

            @include r(768) { 
              right: 144px;
              transform: rotate(70deg);
              bottom: -20px;
            }
          }

          @include r(768) {
            flex-grow: .43;
          }
        }

        &.goal-achieved {
          .num-circle {
            margin-top: 50px;
          }
          .pay-value-wrapper {
            display: flex;

            p {
              &.monthly-val {
                color: $black-02;
                @include font-size(14px, 21px);
                @include plex-sans-semi-bold;
              }
            }
          }

          .goal-date-wrapper { 
            @include r(768) {
              left: 217px;
            }  
          }

          @include r(768) {
            flex-grow: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &-bottom-row {
        width: 100%;
        height: 262px;
      }
    }
  }


}