.header {
  height: 512px;
  position: relative;
  color: #5D6E70;
  background-image: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646650985/Squad%20client%20/plan-illustration-mobile_orjbjt.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  }
  
  .header-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  color: #fff;
  font-size: 27px;
  text-align: center;
  width: 100%;
  }
  
  .header-content .description {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #183033;
  margin-bottom: 60px;
  padding: 25px;
  }
  
  .header-content .name {
  @include font-size(14px, 21px);
  margin: 7px 0 0 0;
  color: #5D6E70;
  position: relative;
  
  &::after {
    content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1647261070/Squad%20client%20/beta-badge-mobile_wsyvdu.svg);
    position: absolute;
    top: 24px;
    right: -38px;
  }
  }
  .header-content .lifeplan-block {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  color: #183033;
  font-size: 14px;
  padding: 0 10px;
  margin-top: 7px;
  }
  .header-content .lifeplan-block p { 
    font-family: "Recoleta-Medium", sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin: 5px 0;
  }
  .header-content .date{
    font-size: 12px;
    line-height: 18px;
    color: #5D6E70;
    text-align: center;
    margin: 5px 0 0 0;

    @include r(768) {
      @include font-size(14px, 21px);
    }
  }
  
  .header .description-wrapper {
    width: 262px;
    align-self: center;
    margin-top: 17px;
  }
  
  .header .description {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    color: #183033;
    margin: 0;
    font-family: "Recoleta-Medium", sans-serif;
  }
  
  .dashed {
    border-style: dashed;
  }
  
  hr {
    width: 174px;
    border: 2px solid #183033;
    margin: 8px;
    opacity: 0.2;
  }
  
  .motto-wrapper {
    background-color: #215A6B;
    padding: 10px;
  
    .motto {
      border-radius: 4px;
      background-color: #173F4B;
      padding: 38px 20px 56px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'IBM Plex Sans', sans-serif;
  
      hr {
        width: 216px;
        border: 2px solid rgba(255,255,255,0.15);
        margin: 12px 0 20px 0;
        opacity: 1;
      }
  
      &--title {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
      }
  
      &--body {
        font-size: 24px;
        line-height: 33.6px;
        color: #FFF7CE;
        text-align: center;
        font-family: "Recoleta-Medium", sans-serif;
      }
    }
  }
  
  .timeline-timeline-container { display: none;}
  
  
  .timeline-container-wrapper {
    width: 100%;
  }
  
  .timeline-desktop {
    display: none;
  }
  
  .timeline-mobile {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #215A6B;
    padding: 80px 0 100px 0;
  }
  
  .goal-date {
    display: flex;
    justify-content: center;
    position: relative;
  
    &--first {
      height: 110px;
    }
  
    &:not(:first-child) {
      margin-top: 6px;
    }
    
    &:nth-last-child(2) {
      .goal-date__line {
        border-right: 2px dotted white;
        background-color: transparent;
        border-radius: 0;
        width: 0;
      }
    }
  
    &:last-child { 
      .goal-date__time {
        margin: 0;
  
        p  {
          position: relative;
          top: 78px;
          right: 25px;
        }
  
      }
  
      .goal-date__line {
        margin-left: -8px;
        border-right: 2px dotted white;
        background-color: transparent;
        border-radius: 0;
        width: 0;
        top: -12px;
  
        &::before {
          content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646752268/Squad%20client%20/Vector_25_vwaf8t.svg);
          top: 88px;
          left: -9px;
        }
  
        &::after {
          top: -12px;
        }
      }
  
      .goal-date__goals {
        margin-bottom: -85px;
  
        .goal-date__goals__goal:first-child {
          &::before {
            top: 18px;
          }
  
        }
  
        .goal-date__goals__goal:last-child {
          margin-top: 26px;
  
          &::after {
            content: "";
            background-color: #3C7F90;
            position: absolute;
            left: -31px;
            top: 51px;
            width: 16px;
            height: 2px;
            border-radius: 1px;
          }
  
          &::before {
            content: "";
            width: 20px;
            height: 20px;
            background-color: #173F4B;
            position: absolute;
            transform: rotate(45deg);
            z-index: -1;
            left: -3px;
          }
        }
      }
    }
  
  
  
    &__time {
      margin: -17px 10px 0 0;
      p {
        font-size: 13px;
        line-height: 17px;
        color:rgba(255, 255, 255, 0.6);
        text-align: right;
        margin: 0;
      }
    }
  
    &__line {
      width: 2px;
      border-radius: 2px;
      background-color: white;
      margin: 8px 40px 0 10px;
      position: relative;
  
      &::before {
        content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646738502/Squad%20client%20/Oval_Copy_fyx8br.svg);
        position: absolute;
        top: -11px;
        left: -3px;
      }
  
      &::after {
        content: "";
        background-color: #3C7F90;
        position: absolute;
        left: 16px;
        top: -7px;
        width: 16px;
        height: 2px;
        border-radius: 1px;
      }
  
      &--first {
        margin-top: 10px;
  
        &::before {
          content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646738436/Squad%20client%20/Step_bubble_wprco5.svg);
          position: absolute;
          top: -21px;
          left: -7px;
        } 
  
        &::after {
          content: "";
          background-color: #3C7F90;
          position: absolute;
          left: 18px;
          top: -12px;
          width: 21px;
          height: 2px;
          border-radius: 1px;
        }
      }
    }
  
    &__goals {
      width: 130px;
      margin-bottom: 20px;
  
      &--first {
        margin-right: 72px;
        top: -55px;
        left: 5px;
        position: relative;
      }
  
      &--with-img {
        width: 190px;
        position: relative;
        top: -43px;
        left: 5px;
      }
  
      &__goal {
        display: flex;
        justify-content: flex-start;
        background-color: #173F4B;
        border-radius: 5px;
        padding: 10px 12px;
        min-width: 106px;
        max-width: 165px;
        min-height: 60px;
        align-items: center;
        margin-bottom: 3px;
        position: relative;
        z-index: 1;
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
  
        &:first-child::before {
          content: "";
          width: 20px;
          height: 20px;
          background-color: #173F4B;
          position: absolute;
          transform: rotate(45deg);
          z-index: -1;
          left: -3px;
        }
  
        &--light {
          background-color: #3C7F90;
          
          &:first-child::before { 
            background-color: #3C7F90;
            top: 27px; 
          }
          
          &:nth-child(2):before { 
            content: "";
            width: 20px;
            height: 20px;
            background-color: #3C7F90;
            position: absolute;
            transform: rotate(45deg);
            z-index: -1;
            left: -3px;
            top: 8px;
          }
  
        }
  
        &--static-goal {
          width: 106px;
          min-height: 33px;
          text-align: center;
          filter: none;
  
          div {
            margin: 0;
          }
        }
  
        &__img {
          background-color: white;
          border-radius: 4px;
          img {
            width: 70px;
          }
        }
  
        &__desc {
          margin-left: 8px;
          p {
            color: white;
            font-size: 13px;
            line-height: 17px;
            margin: 0;
          }
        }
      }
  
    }
  }
  
  @media (min-width: 768px) { 
    .header { 
      background-image: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646658566/Squad%20client%20/plan-illustration-desktop_1_w6rlcq.jpg);
      height: 666px;
    }
  }
  
  @media (min-width: 950px) {
  
    .timeline-spacer {
      height: 85px;
      background-color: #215A6B;
    }
  
    .timeline-container-wrapper {
      width: 1000px;
  
  
  
      .header-content {
        padding-top: 45px;
      }
  
      .timeline-mobile {
        display: none;
      }
  
      .timeline-desktop {
        font-family: 'IBM Plex Sans', sans-serif;
        background-color: #215A6B;
        padding: 0 70px;
        height: 838px;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
  
        .solid-line {
          height: 2px;
          top: 390px;
          position: absolute;
          background-color: #fff;
          left: 122px;
          z-index: 1;
  
          &.one-goal {
            width: 375px;
  
            &::after {
              content: "";
              border-top: 2px dotted white;
              background-color: #215A6B;
              width: 393px;
              position: absolute;
              top: 0;
              left: 381px;
              z-index: 3;
            }
          }
          &.second-goal {
            width: 500px;
  
            &::after {
              content: "";
              border-top: 2px dotted white;
              background-color: #215A6B;
              width: 263px;
              position: absolute;
              top: 0;
              left: 511px;
              z-index: 3;
            }
          }
          &.third-goal {
            width: 555px;
  
            &::after {
              content: "";
              border-top: 2px dotted white;
              background-color: #215A6B;
              width: 203px;
              position: absolute;
              top: 0;
              left: 573px;
              z-index: 3;
            }
          }
        }
  
  
        .goal-column {
          height: 670px;
          width: 130px;
          position: relative;
          display: flex;
          flex-direction: column;
  
          &:not(:last-child) {
            align-items: center;
          }
  
          &:nth-child(2) {
            height: 125px;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 215px;
  
            &::before {
              content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646738436/Squad%20client%20/Step_bubble_wprco5.svg);
              border: 3px solid #215A6B;
              background: #215A6B;
              position: absolute;
              bottom: -63px;
              left: 49px;
              z-index: 1;
            } 
    
            &::after {
              content: "";
              background-color: #3C7F90;
              position: absolute;
              left: 60px;
              bottom: -35px;
              width: 2px;
              height: 21px;
              border-radius: 1px;
            }
          }
  
          
          &:nth-child(4) {
              .goal-date__time {
                &::after {
                  display: none;
                }
              }
          }
  
          &:last-child {
            height: 377px;
            margin-top: 139px;
            flex-direction: row;
  
            .goal-date__time {
              position: absolute;
              top: 108px;
              right: 0;
  
              &::before {
                content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646752268/Squad%20client%20/Vector_25_vwaf8t.svg);
                transform: rotate(270deg);
                top: -23px;
                left: 17px;
                border: 0;
                background: transparent;
              }
            }
  
            .goal-date__goals {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin: 0;
  
              .goal-date__goals__goal {
                &:first-child {
                  position: relative;
                  right: 40px;
                  min-height: 33px;
                  margin: 0;
                  padding: 8px;
                  top: -5px;
                  &::before {
                    background-color: #3C7F90;
                  }
                  &::after {
                    content: "";
                    background-color: #3C7F90;
                    position: absolute;
                    left: 51%;
                    top: 67px;
                    width: 2px;
                    height: 16px;
                    border-radius: 1px;
                  }
                }
  
                &:nth-child(2) {
                  &::before {
                    top: -4px;
                    left: 91px;
                    bottom: auto;
                  }
                }
              }
            }
          }
  
          .goal-date__time {
            margin: 0;
            position: absolute;
            top: 325px;
  
            &::before {
              content: url(https://res.cloudinary.com/duwf1nmnp/image/upload/v1646738502/Squad%20client%20/Oval_Copy_fyx8br.svg);
              position: absolute;
              border: 3px solid #215A6B;
              background: #215A6B;
              top: -25px;
              left: 43%;
              z-index: 2;
            }
      
            &::after {
              content: "";
              background-color: #3C7F90;
              position: absolute;
              left: 51%;
              top: 21px;
              width: 2px;
              height: 16px;
              border-radius: 1px;
            }
            
          }
  
          .goal-date__goals__goal--light::before {
            top: 37px;
            left: 51px;            
          }
  
          .goal-date__goals {
            margin-bottom: 0;
            width: auto;
            display: flex;
            flex-direction: column;
  
            .goal-date__goals__goal {
              flex-direction: column;
              margin-bottom: 16px;
              min-height: 130px;
  
              &::before {
                content: "";
                bottom: -5px;
                left: 43.5%;
                width: 20px;
                height: 20px;
                background-color: #173F4B;
                position: absolute;
                transform: rotate(45deg);
                z-index: -1;
              }
  
              .goal-date__goals__goal__desc {
                margin: 10px 0;
                text-align: center;
              }
  
              .goal-date__goals__goal__img {
                height: 76px;
                width: 100%;
                display: flex;
                justify-content: center; 
              }
            }
  
            .one-goal-bottom {
              margin-top: 375px;
  
              &::before {
                top: auto;
                bottom: 134px;
              }
            }
            
            .one-goal-top {
              margin-top: 115px;
  
              &::before {
                top: 134px;
                bottom: 134px;
                left: 58px;
              }
  
              &::after {
                content: "";
                background-color: #3C7F90;
                position: absolute;
                left: 67px;
                top: 164px;
                width: 2px;
                height: 16px;
                border-radius: 1px;
              }
            }
            
            &.two-goals {
              height: 426px;
              margin-top: 115px;
              flex-direction: column;
              justify-content: space-between;
              
              &#secondGoal {
                .goal-date__goals__goal:nth-child(2) {
                  &::after {
                    content: "";
                    background-color: #3C7F90;
                    position: absolute;
                    left: 50.5%;
                    top: -30px;
                    width: 2px;
                    height: 16px;
                    border-radius: 1px;
                  }
                }
              }
  
              .goal-date__goals__goal:nth-child(1) {
                &::after {
                  content: "";
                  background-color: #3C7F90;
                  position: absolute;
                  left: 50.5%;
                  top: 164px;
                  width: 2px;
                  height: 16px;
                  border-radius: 1px;
                }
              }
              .goal-date__goals__goal:nth-child(2) {
                &::before {
                  top: -5px
                }
              }
            }
  
            &.three-goals { 
              margin-top: -53px;
  
              &#secondGoal {
                .goal-date__goals__goal:nth-child(3) {
                  &::after {
                    content: "";
                    background-color: #3C7F90;
                    position: absolute;
                    left: 50.5%;
                    top: -30px;
                    width: 2px;
                    height: 16px;
                    border-radius: 1px;
                  }
                }
              }
  
              .goal-date__goals__goal {
                &:nth-child(2) {
                  &::after {
                    content: "";
                    background-color: #3C7F90;
                    position: absolute;
                    left: 50.5%;
                    top: 166px;
                    width: 2px;
                    height: 16px;
                    border-radius: 1px;
                  }
                }
                &:nth-child(3) { 
                  margin-top: 96px;
                  &::before {
                    bottom: 134px;
                  }
                }
              }
            }
  
            &.four-goals { 
              height: 720px;
              margin-top: -52px;
  
              &#secondGoal {
                .goal-date__goals__goal:nth-child(3) {
                  &::after {
                    content: "";
                    background-color: #3C7F90;
                    position: absolute;
                    left: 50.5%;
                    top: -30px;
                    width: 2px;
                    height: 16px;
                    border-radius: 1px;
                  }
                }
              }
  
              .goal-date__goals__goal { 
                &:nth-child(2) {
                  margin-bottom: 112px;
                  &::after {
                    content: "";
                    background-color: #3C7F90;
                    position: absolute;
                    left: 51%;
                    top: 166px;
                    width: 2px;
                    height: 16px;
                    border-radius: 1px;
                  }
                }
                &:nth-child(3) {
                  &::before {
                    bottom: 134px;
                  }
                }
  
                &:last-child {
                  &::before {
                    bottom: 134px;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
  
  
          
        }
      }
  
      .header-content .name {
        font-size: 20px;
        line-height: 30px;
  
        &::after {
          top: 32px;
          right: -52px;
        }
      }
  
      .header-content .lifeplan-block p {
        font-size: 36px;
        line-height: 43px;
      }
  
      .header .description-wrapper {
        width: 400px;
      }
  
      .header .description {
        margin-top: 28px;
        font-size: 28px;
        line-height: 38px; 
      }
  
      .motto-wrapper {
        padding: 10px 60px 60px 60px;
        .motto {
          padding: 56px 220px 56px 220px;
      
          hr {
            width: 216px;
            border: 2px solid rgba(255,255,255,0.15);
            margin: 12px 0 20px 0;
            opacity: 1;
          }
      
          &--title {
            font-size: 16px;
            line-height: 19.2px;
          }
      
          &--body {
            font-size: 28px;
            line-height: 39px;
          }
        }
      }
  
  
    }
  }   