body {
  @include plex-sans;
  height: 100%;
  margin: 0;
  background-color: $off-grey;
}

.mt-10 {
  margin-top: 10px;
}

hr {
  width: 174px;
  border: 2px solid $black-02;
  margin: 8px;
  opacity: 0.2;

  &.thin {
    border: 1px solid $black-02;
    width: 100%;
    margin: 13px 0;
  }
}