$teal: #00B897;
$blue-black: #183033;
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$black-02: #183033;
$blue-01: #173F4B;
$off-grey: #E5E5E5;
$light-grey-02: #D9E4E3;
$grey: #9FB5B8;
$light-grey: #E8EEF0;
$green: #173F4B;
$dark-green: #215A6B;
$dark-grey: #5D6E70;
$yellow: #FFCF15;
$yellow-02: #FFDD6A;


// budget component
$brown: #93534C;
$bright-teal: #0DAD90;
$light-brown: #A17E70;
$cyan: #C74577;
$blue: #007CA4;
$teal-2: #00A3A3;