.page-inner {
  background-color: $white;
  max-width: 1000px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1)); 
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 6px;
}